{{extend 'layout_cliente.html'}}

<html>

    <head>
        <center><h2> Bienvenidos al sistema de ventas online!!! </h2></center>
    </head>



<body  style="background-color:#d5dbdb;">
     <I><h4>Hola, {{=auth.user.first_name}}.</h4>
<h5>
<br> <center>
Estas a un click de  hacer todas tus <B>compras de medicamentos</b> de forma rapida y facil :</i> <a href="#" class="btn btn-success" role="button">Carrito</a>
<br></center>
    
</h5>

    
<br> <br>
     
    
<img align="right" src="/for_sale/static/bago.jpg" "Float, derecha" width="200" height="200"  style="position: absolute; top: 178px; right: 100px;" >
<img align="center"src="/for_sale/static/bayer.jpg" "Float, centrado" width="200" height="200" style="position: absolute; top: 178px; left: 420px;"   >
<img align="left" src="/for_sale/static/eleaa.jpg" "Float, izquierda" width="200" height="200"   >
</BODY>
</HTML>
