{{extend 'layout.html'}}
<html>
<body>
        
   
<h1>Elija un laboratorio</h1>


<a href="/myapp/default/index">
    <img src="/for_sale/static/descarga.jpg" alt="Mi Logo" />
</a>

<a href="/myapp/default/index">
    <img src="/for_sale/static/bayer.jpg" alt="Mi Logo" />
</a>
     
<a href="/myapp/default/index">
    <img src="/for_sale/static/bago.jpg" alt="Mi Logo" />
</a>
    
<br><br><br><br>

<img src="/for_sale/static/bago.jpg"  class="rounded float-left" alt="18">
<img src="/for_sale/static/bayer.jpg" class="rounded float-right" alt="12">
<img src="/for_sale/static/descarga.jpg" class="rounded float-right" alt="" width="135" height="135"alt="12">
    
    <br><br><br><br><br><br><br><br>
<div class="checkbox">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $11 Bayer Precio  <br><br>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $12 Bago Precio <br><br>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $13 Roche Precio <br><br>
  </label>
</div>

<div class="row">
    <div class="col-md-1">
    Cantidad:
    </div>
    <div class="col-md-2">
        <input name="Cantidad">
</div>
</div><br><br>
 <div class="form-group">
  <label for="comment">Observaciones:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
<button type="button" class="btn btn-warning">Enviar</button>
    
    
            <div class="view-header">
      <span class="btn btn-default">Combos y Productos</span>    </div>
  
      
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first otc0">
      
  <div class="views-field views-field-rendered-entity">        <span class="field-content"><article class="node node-combo node-product-type node-product-type-product-list node-combo-product-list node-published node-not-promoted node-not-sticky author-candelariaberissopfizercom odd clearfix" id="node-combo-366">
  <div class="content clearfix"><span class="col-1"><div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><span class="btn-combo-detalle"></span><img src="https://www.farmapfizer.com.ar/sites/default/files/styles/product_list_135_x_135/public/combo_hola_0.png?itok=NPmlEvcp" alt="" width="135" height="135"></div></div></div></span><span class="col-2"><header>
    <h2 class="field field-name-title-field field-type-text field-label-hidden">
      Combo Hola    </h2>
  </header><div class="field field-name-commerce-price field-type-commerce-price field-label-hidden"><div class="field-items"><div class="field-item even">394.91 $ ARS</div></div></div><div class="field field-name-field-module-units field-type-number-integer field-label-hidden"><div class="field-items"><div class="field-item even">Módulo por 6 unidades</div></div></div><div class="field field-name-field-descuento field-type-number-decimal field-label-inline inline">
      <div class="field-label">Descuento sobre PVP&nbsp;</div>
    <div class="field-items">
          <div class="field-item even">36.00%</div>
      </div>
</div><div class="commerce-product-sku">
          <div class="commerce-product-sku-label">
        Código SKU:      </div>
        combo-trade115  </div><div class="field field-name-pvp field-type-commerce-price field-label-hidden"><div class="field-items"><div class="field-item even">617.04 $ ARS</div></div></div><div class="field field-name-field-product field-type-commerce-product-reference field-label-hidden"><div class="field-items"><div class="field-item even"><form class="commerce-add-to-cart commerce-cart-add-to-cart-form-311" action="/" method="post" id="commerce-cart-add-to-cart-form-311" accept-charset="UTF-8"><div><input name="product_id" value="311" type="hidden">
<input name="form_build_id" value="form-2_Kwe2qQxuQq5XwWHFtKDmkOlRX9Yt-MCsGe23Y-mvU" type="hidden">
<input name="form_id" value="commerce_cart_add_to_cart_form_311" type="hidden">
<div id="edit-line-item-fields" class="form-wrapper"></div><div class="form-item form-type-textfield form-item-quantity">
  <label for="edit-quantity">Cantidad </label>
 <input id="edit-quantity" name="quantity" value="1" size="5" maxlength="4" class="form-text" style="width: 2px; margin-right: 17px; text-align: right;" type="text"><span class="ui-spinner ui-widget"><div class="ui-spinner-buttons" style="height: 0px; left: -17px; top: 0px; width: 16px;"><div class="ui-spinner-up ui-spinner-button ui-state-default ui-corner-tr" style="width: 14px; height: 0px;"><span class="ui-icon ui-icon-triangle-1-n" style="margin-left: -1px; margin-top: -8px;">&nbsp;</span></div><div class="ui-spinner-down ui-spinner-button ui-state-default ui-corner-br" style="width: 14px; height: 0px;"><span class="ui-icon ui-icon-triangle-1-s" style="margin-left: -1px; margin-top: -8px;">&nbsp;</span></div></div></span>
<a href="#" class="modal_welcome">Agregar al pedido</a></div>
</div></form></div></div></div></span>
    
         </body>
</html>
