{{extend 'layout.html'}}
<h1>Elija un laboratorio</h1>


<div class="checkbox">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $11 Bayer Precio  <br><br>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $12 Bago Precio <br><br>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $13 Roche Precio <br><br>
  </label>
</div>

<div class="row">
    <div class="col-md-1">
    Cantidad:
    </div>
    <div class="col-md-2">
        <input name=-"Cantidad">
</div>
</div><br><br>
 <div class="form-group">
  <label for="comment">Observaciones:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
<button type="button" class="btn btn-warning">Enviar</button>
