{{extend 'layout.html'}}
<h1>Elija un laboratorio</h1>


<div class="checkbox">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $11 Bayer Precio  <br><br>
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $12 Bago Precio <br><br>
  </label>
<div class="radio">
  <label>
    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
    $13 Roche Precio <br><br>
  </label>

    <div class="col-lg-3 col-md-3 col-xs-12>
            <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input class="form-control" id="cantidad" type="text" autofocus required maxlength="6" size="6">
          </div>  
    </div>    
    
</div>
</div>
</div>
