{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-4">
    Nombre:
    </div>
    <div class="col-md-8">
        <input name=-"Nombre">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    Apellido:
    </div>    
         <input name=-"Apellido">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    D. N. I:
    </div>
    <div class="col-md-8">
        <input name=-"dni">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    Direccion:
    </div>
    <div class="col-md-8">
        <input name=-"direccion">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    Localidad:
    </div>
    <div class="col-md-8">
        <input name=-"localidad">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    Telefono:
    </div>
    <div class="col-md-8">
        <input name=-"Telefono">
    </div>
</div>

<div class="table-responsive"> <table class="table"> <thead> <tr> <th>#</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> <th>Table heading</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>alta tabla</td> </tr> <tr> <th scope="row">2</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> </tr> <tr> <th scope="row">3</th> <td>Table cell</td> <td>Table cell</td> <td>Table cell</td> <td>alta Tabla </td> <td>Table cell</td> <td>Table cell</td> </tr> </tbody> </table> </div> 


<div class="con tainer-fluid">
	<div clas="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1> Title</h1>
			<a href="#" class="bt">
		</div>
	</div>
</div>
