{{extend 'layout.html'}}

<h1> <center><p class="text-primary">Arma tu pedido</p></center></h1>  
      
<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="left"><img src="/for_sale/static/actron600.jpg" alt="Float, center" width="220" height="220" hspace="120" >
    <div style="position: absolute; top: 200px; right: 140px;"
          <div class="caption">
       <h3>Actron 600 </h3>
        10 Comp.
        <p>Precio: $100</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/actronplus.jpg" alt="Float, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 160px;"
        <div class="caption">
       <h3>A. Plus</h3>
         8 Comp.
        <p>Precio: $50</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/aspirinetas.jpg" alt="Float, derecha" width="200" height="200" hspace="140"  >
       <div style="position: absolute; top: 200px; left: 200px;"
          <div class="caption">
        <h3 class="text-center">Aspirinetas</h3>
          28 Comp.
          <p>Precio: $50</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>

<br><br><br><br><br><br>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/actronped.jpg " alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 180px;"
          <div class="caption">
        <h3>Actron ped </h3>
         Suspensión
        <p>Precio: $100</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/bayaspirina.jpg " alt="Float, center" width="230" height="230" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 160px;"
        <div class="caption">
        <h3> Bayaspirina </h3>
        30 Comp.
        <p>Precio: $45</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Aziatop.png" alt="Float, derecha" width="220" height="220" hspace="100" >
       <div style="position: absolute; top: 200px; left: 190px;"
          <div class="caption">
        <h3 class="text-center">Aziatop</h3>
          14 Comp.
          <p>Precio: 197</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>

<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Benadryl.png" alt="Float, izquierda" width="220" height="220"   >
    <div style="position: absolute; top: 200px; left: 150px;"
          <div class="caption">
        <h3>Benadryl</h3>
         jarabe
        <p>Precio: 144</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Berlofen.png " alt="Float, center" width="220" height="220" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 160px;"
        <div class="caption">
        <h3> Berlofen</h3>
        Gotas
        <p>Precio: 361</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/BERTEL.png" alt="Float, derecha" width="220" height="220" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Bertel</h3>
          28 Comp.
          <p>Precio: 884</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Caladryl.png" alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Caladryl </h3>
         Loción
        <p>Precio: 196</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Caladryl-Crema.png" alt="Float, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Caladril</h3>
        Crema
        <p>Precio: 227</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Concor.png" al="Float, derecha" width="220" height="220" hspace="110" >
       <div style="position: absolute; top: 200px; left: 220px;"
          <div class="caption">
        <h3 class="text-center">Concor</h3>
          30 Comp.
          <p>Precio: 419</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Deltar.png" alt="Float, izquierda" width="220" height="220" >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Deltar</h3>
         Gotas
        <p>Precio: 281</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Diva.png" alt="Float, center" width="220" height="220" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 150px;"
        <div class="caption">
        <h3>Diva</h3>
        28 Comp.
        <p>Precio: 460</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Divina.png" al="Float, derecha" width="230" height="230" hspace="90" >
       <div style="position: absolute; top: 200px; left: 190px;"
          <div class="caption">
        <h3 class="text-center">Divina</h3>
          28 Comp.
          <p>Precio: 411</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Evaplan.png " alt="Float, izquierda" width="220" height="220"   >
    <div style="position: absolute; top: 200px; left: 150px;"
          <div class="caption">
        <h3> Evaplan</h3>
         Test
        <p>Precio: 925</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Evatest.png" alt="Float, center" width="230" height="230" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 140px;"
        <div class="caption">
        <h3>Evatest</h3>
        Clasico
        <p>Precio: 110</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Evatest-Digital-ELEA.png" al="Float, derecha" width="230" height="230" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Evatest</h3>
           Digital
          <p>Precio: 373</p>
         
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Lamirax.png" alt="Float, izquierda" width="210" height="210"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Lamirax </h3>
         30 Comp.
        <p>Precio: 778</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Lanx.png" alt="Float, center" width="200" height="200" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 150px;"
        <div class="caption">
        <h3>Lanx</h3>
        30 Comp.
        <p>Precio: 435</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Leval.png" al="Float, derecha" width="220" height="220" hspace="90" >&nbsp;
       <div style="position: absolute; top: 200px; left: 180px;"
          <div class="caption">
        <h3 class="text-center">Leval</h3>
          30 Comp.
          <p>Precio: 218</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br>
                       
                       
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Lipex.png" alt="Float, izquierda" width="200" height="200"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Lipex</h3>
         30 Comp.
        <p>Precio: 515</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Miranda.png" alt="Float, center" width="200" height="200" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 140px;"
        <div class="caption">
        <h3>Miranda</h3>
        30 Comp.
        <p>Precio: 440</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Mylanta-Extra.png" al="Float, derecha" width="230" height="230" hspace="90" >&nbsp;
       <div style="position: absolute; top: 200px; left: 180px;"
          <div class="caption">
        <h3 class="text-center">Extra</h3>
          24 Comp.
          <p>Precio: 656</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Mylanta-Plus.png " alt="Float, izquierda" width="200" height="200" hspace="70">&nbsp;
    <div style="position: absolute; top: 200px; left: 150px;"
          <div class="caption">
        <h3>Plus</h3>
         Suspensión 
        <p>Precio: 257</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/nopucid-repelente.png" alt="Float, center" width="220" height="210" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 140px;"
        <div class="caption">
        <h3>Nopucid</h3>
        Spray
        <p>Precio: 200</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Nopucid-citrus.png" al="Float, derecha" width="220" height="210" hspace="90" >&nbsp;
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Nopucid</h3>
          Loción
          <p>Precio: 235</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Osiris.png" alt="Float, izquierda" width="220" height="210"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Osiris</h3>
         Gotas
        <p>Precio: 403</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/Ponstinetas.png" alt="Float, center" width="220" height="220" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Ponstineta</h3>
        16 Comp.
        <p>Precio: 74</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/Rapilax.png" al="Float, derecha" width="220" height="210" hspace="90" >&nbsp;
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption"> 
          <h3>Rapilax</h3> 
          Gotas
          <p>Precio: 82</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>
