{{extend 'layout.html'}}
<h1>Está es la plantilla bajas/borrar_cliente.html</h1>

 <CENTER><B><U>{{=T('BAJA CLIENTE')}}</U></B></CENTER>
</H4>
<center>
    <TABLE border="3" width="400">
                    <TR><TH width="200" bgcolor="#cdcdcd"><CENTER><BR>CLIENTES<BR></CENTER></TH></TR>
                {{for x in id_cliente:}}
                   <TR><TD><BR><CENTER>{{=A(x.clientes,_href=URL(r=request, f='reportes_clientes', args=[x.id]) )}}</CENTER><BR></TD></TR>
                {{pass}}
                       </TABLE>

                    </CENTER>
