{{extend 'layout.html'}}
<h1>Está es la plantilla bajas/borrar_vendedor.html</h1>

 <CENTER><B><U>{{=T('BAJA VENDEDOR')}}</U></B></CENTER>
</H4>
<center>
    <TABLE border="3" width="400">
                    <TR><TH width="200" bgcolor="#cdcdcd"><CENTER><BR>Vendedor<BR></CENTER></TH></TR>
                {{for x in id_vendedor:}}
                   <TR><TD><BR><CENTER>{{=A(x.vendedor,_href=URL(r=request, f='reportes_vendedor', args=[x.id]) )}}</CENTER><BR></TD></TR>
                {{pass}}
                       </TABLE>

                    </CENTER>
