{{extend 'layout.html'}}
<h1>Está es la plantilla bajas/borrar_productos.html</h1>

 <CENTER><B><U>{{=T('BAJA PRODUCTO')}}</U></B></CENTER>
</H4>
<center>
    <TABLE border="3" width="400">
                    <TR><TH width="200" bgcolor="#cdcdcd"><CENTER><BR>PRODUCTOS<BR></CENTER></TH></TR>
                {{for x in id_producto:}}
                   <TR><TD><BR><CENTER>{{=A(x.productos,_href=URL(r=request, f='reportes_productos', args=[x.id]) )}}</CENTER><BR></TD></TR>
                {{pass}}
                       </TABLE>

                    </CENTER>
