{{extend 'layout.html'}}

Eliga de la lista los medicamentos que necesite <br><br>
<div class="Medicamentos">
  <button class="btn btn-default dropdown-toggle" type="button" id="Medicamentos" 
          data-toggle="dropdown" aria-expanded="true">
    Medicamentos
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gaza</a></li>
    <li role="presentation">Alcohol</a></li>
    <li role="presentation">Crema para quemaduras</a></li>
    <li role="presentation">Cura plus</a></li>
    <li role="presentation">Amoxilina 500 mg</a></li>
    <li role="presentation">Buscapina</a></li>
    <li role="presentation">Aspirina</a></li>
    <li role="presentation">Geniol</a></li>
    <li role="presentation">Aerotina</a></li>
    <li role="presentation">Rennie</a></li>
    <li role="presentation">Tabcin</a></li>
    <li role="presentation">Paracetamol</a></li>
    <li role="presentation">Desenfriol</a></li>
    <li role="presentation">Next</a></li>
    <li role="presentation">Ibuproneno</a></li>
    <li role="presentation">Omeprazol/a></li>
    <li role="presentation">Actron 600 mg</a></li>
    <li role="presentation">Aspirineta</a></li>
    <li role="presentation">Bayaspirina C caliente</a></li>
    <li role="presentation">Bayaspirina C Limon</a></li>
    <li role="presentation">Bayaspirina C Naranja</a></li>
    <li role="presentation">Bayaspirina Forte</a></li>
    <li role="presentation">Amoxilina 1000 mg</a></li>
    <li role="presentation">Gynovin</a></li>
    <li role="presentation">Nebido</a></li>
    <li role="presentation">Qlaira</a></li>
    <li role="presentation">Triquilar</a></li>
    <li role="presentation">Luminal</a></li>
    <li role="presentation">Primovist</a></li>
    <li role="presentation">Empecid</a></li>
    <li role="presentation">Berocca</a></li>
    <li role="presentation">Actron M. Rapida Accion</a></li>
    <li role="presentation">Actron Plus</a></li>
    <li role="presentation">Redoxon Triple Accion</a></li>
    <li role="presentation">Redoxon 1g</a></li>
    <li role="presentation">Supradyn</a></li>
    <li role="presentation">Tabcin D</a></li>
    <li role="presentation">Tabcin Compuesto</a></li>
    <li role="presentation">Cafiasprina plus</a></li>
    <li role="presentation">Cafiasprina</a></li>
  </ul>
</div>
