{{extend 'layout.html'}}
<h2> Elegila los medicamentos que necesite</h2>
<br><br>

<div multiple class="form-control">
    <label for="sel1">Lista de medicamentos de Bayer</label>
      <select class="form-control" id="sel1">
    <option>Cafiasprina<option>
    <option>Cafiasprina plus<option> 
    <option>Tabcin Compuesto<option> 
    <option>Amoxilina 500 mg<option>
    <option>Amoxilina 1000 mg<option> 
    <option>Bayaspirina Forte<option> 
    <option>Bayaspirina C Naranja<option> 
    <option>Bayaspirina C Limon<option> 
    <option>Bayaspirina C caliente<option> 
    <option>Aspirineta<option> 
    <option>Actron 600 mg<option> 
    <option>Actron Rapida Accion<option> 
    <option>Ibuprofeno<option> 
    <option>Aspirina<option> 
    <option>Omeprazol<option>
    <option>Rennie<option> 
    <option>Berocca<option> 
    <option>Empecid<option> 
    <option>Primovist<option> 
    <option>Luminal<option>  
    <option>Triquilar<option> 
    <option>Qlaira<option> 
    <option>Gynovin<option> 
    <option>Buscapina<option>
    <option>Desenfriol<option>
    <option>Anaflex<option> 
    <option>Supradyn<option> 
    <option>Alcohol<option>
    <option>Bepanthol<option> 
    <option>Focus<option>
</select>
</div>
<br>
<center><button type="submit" class="btn btn-warning value=Enviar">Agregar</button></center>
<br><br>

<div multiple class="form-control">
    <label for="sel1">Lista de medicamentos de  Bagó</label>
    <select class="form-control" id="sel1">    
 <option>Nastizol <option>
 <option>Exibral 250 mg <option>
 <option>Bactisel <option>
 <option>Ulcozol <option>
 <option>Dioxaflex <option>
 <option>Trifamox 250 mg <option>
 <option>Trifamox 500 mg <option>
 <option>Levopront 120 mg  <option>
 <option>Afebril Forte <option>
 <option>Furadantina 50 mg <option>
 <option>Septicide 500 mg <option>
 <option>Prn Di ben  <option>
 <option>mircera  100 mg <option>
 <option>mircera 50 mg <option>
 <option>Bactizel <option>
 <option>Artrilase <option>
 <option>Aluminio hidroxido <option>
 <option>Ampicilina 1000 mg <option>
 <option>Ampicilina 500 mg <option>
 <option>Bromazepan 3 mg <option>
 <option>Bromazepan 6 mg <option>
 <option>Bromazepan 12 mg <option>
 <option>Cefixima 400 mg <option>
 <option>Diltiazem 60 mg <option>
 <option>Diltiazem 120 mg <option>
 <option>Dipirona <option>
 <option>Gentamicina 40 mg <option>
 <option>Gentamicina 80 mg <option>
 <option>Teofilina 300 mg <option>
 <option>Dioxaflex plus <option> 
</select>
</div>
<br>
 <center><button type="submit" class="btn btn-warning value=Enviar">Agregar</button></center>

<div multiple class="form-control">
    <label for="sel1">Lista de medicamentos de  Bagó</label>
    <select class="form-control" id="sel1">    
    <option>Actemra 200 mg</option>
    <option>Actemra 400 mg</option>
    <option>Actemra 80 mg </option>   
    <option>Alecensa 150 mg</option>
    <option>Avastin 100 mg</option>
    <option>Avastin 400 mg</option>
    <option>Cellcept 250 mg</option>
    <option>Cellcept 500 mg</option>
    <option>Cotellic 20 mg</option>
    <option>Erivedge 150 mg</option>
    <option>Esbriet 270 mg</option>
    <option>Fuzeon 90 mg</option>
    <option>Gazyva 300 mg</option>
    <option>Herceptin 300 mg</option>
    <option>Herceptin 60 mg</option>
    <option>Kadcyla 100 mg</option>
    <option>Kadcyla 160 mg</option>
    <option>Keto-diabur Test 5000</option>
    <option>Mabthera 100 mg</option>
    <option>Mabthera 500 mg</option>
    <option>Mircera 50 mg</option>
    <option>Mircera 100 mg</option>
   <option> Perjeta 420 mg</option>
    <option>Pulmozyme 2.5 mg</option>
      <option>Tarceva 100 mg</option>
      <option>Tarceva 150 mg</option>
      <option>Tecentriq 60 mg</option>
      <option>Valixa 450 mg</option>
      <option>Xeloda 500 mg</option>
     <option> Zelboraf</option>
        
<button type="button" class="btn btn-success">Terminar pedido</button>
