{{extend 'layout.html'}}
<h2> Elegila los medicamentos que necesite</h2>
<br><br>

<div multiple class="form-control"">
  <label for="sel1",>Lista de medicamentos:</label>
  <select class="form-control" id="sel1">
    <option>Cafiasprina</option>
    <option>Cafiasprina plus</option>
    <option>Tabcin Compuesto</option>
    <option>Tabcin D</option>
    <option>Supradyn</option>
    <option>Redoxon 1g</option>
    <option>Redoxon Triple Accion</option>
    <option>Actron 600 mg</option>
    <option>Actron Plus</option>
    <option>Actron M. Rapida Accion</option>
    <option>Berocca</option>
    <option>Empecid</option>
    <option>Primovist</option>
    <option>Luminal</option>
    <option>Triquilar</option>
    <option>Qlaira</option>
    <option>Gynovin</option>
    <option>Nebido</option>
    <option>Amoxilina 1000 mg</option>
    <option>Bayaspirina Forte</option>
    <option>Bayaspirina C Naranja</option>
    <option>Bayaspirina C Limon</option>
    <option>Bayaspirina C caliente</option>
    <option>Aspirineta<</option>
    <option>Supradyn</option>
    <option>Ibuprofeno</option>
    <option>Next</option>
    <option>Omeprazol</option>
    <option>Rennie</option>
    <option>Alcohol</option>
    <option>Crema para quemaduras</option>
    <option>Cura plus</option>
    <option>Amoxilina 500 mg</option>
    <option>Buscapina</option>
    <option>Aspirina</option>
    <option>Geniol</option>
    <option>Aerotina</option>  
    <option>Tabcin</option>
    <option>Paracetamol</option>
    <option>Desenfriol</option>   
  </select>
</div>
