{{extend 'layout.html'}}
<h1>ingreso medicamento</h1>
{{extend 'layout.html'}}
<br>
<div class="row">
    <div class="col-md-4">
     Código:
    </div>
    <div class="col-md-8">
        <input name="Codigo">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
     Nombre del Medicamento:
    </div>
    <div class="col-md-8">
        <input name="Nombre">
    </div>
       
</div>
<form action="/registrardatos.php" method="post">
Presentacion
<select name="Presentacion">
<option value="1">Crema</option>
<option value="2">Capsulas</option>
</select>

<div class="row">
    <div class="col-md-4">
    Cantidad:
    </div>
    <div class="col-md-8">
        <input name=-"Cantidad">
    </div>
</div>


<div class="row">
    <div class="col-md-4">
    Precio de compra:
    </div>
    <div class="col-md-8">
        <input name=-"Precio de compra">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    Precio de venta:
    </div>
    <div class="col-md-8">
        <input name=-"Precio de venta">
    </div>
</div>


<div class="row">
    <div class="col-md-4">
    Fecha vencimiento:
    </div>
    <div class="col-md-8">
        <input name=-"Fecha de vencimiento">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    Laboratorio:
    </div>
    <div class="col-md-8">
        <input name=-"Laboratorio">
    </div>
</div>


</div>
<br><br>
<center><button type="submit" class="btn btn-warning value=Enviar">Finalizar</button></center>
<br><br>
