{{extend 'layout.html'}}
<h1>DETALLE DE VENTA</h1>
<div class="form-group">
    <h4>Nro. Comprobante: <i><u>1234</u></i>, Fecha: <i><u>06/06/18</u></i>,
                 Cliente: <i><u>Lalalal - La LA SRL</u></i>, Tipo de Comprobante:<i><u>"A"</u></i>
        </h4>
</div>
<form class="form-horizontal" action="/for_sale/ventas/detalle_ventas" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="produc" class="col-sm-1 control-label">PRODUCTO</label>
           <div class="col-sm-3">
                <select class="form-control" id="campo_tipo" name="id_producto">
    
    <option>Redoxon Triple Accion</option>
    <option>Actron 600 mg</option>
    <option>Actron Plus</option>
    <option>Actron M. Rapida Accion</option>
    <option>Berocca</option>
    <option>Empecid</option>
    <option>Primovist</option>
    <option>Luminal</option>
    <option>Triquilar</option>
    <option>Qlaira</option>
    <option>Gynovin</option>
    <option>Nebido</option>
    <option>Amoxilina 1000 mg</option>
    <option>Bayaspirina Forte</option>
    <option>Bayaspirina C Naranja</option>
    <option>Bayaspirina C Limon</option>
    <option>Bayaspirina C caliente</option>
    <option>Aspirineta<</option>
    <option>Supradyn</option>
    <option>Ibuprofeno</option>
    <option>Next</option>
    <option>Omeprazol</option>
    <option>Rennie</option>
    <option>Alcohol</option>
    <option>Crema para quemaduras</option>
    <option>Cura plus</option>
    <option>Amoxilina 500 mg</option>
    <option>Buscapina</option>
    <option>Aspirina</option>
    <option>Geniol</option>
    <option>Aerotina</option>  
    <option>Tabcin</option>
    <option>Paracetamol</option>
    <option>Desenfriol</option>   
    
                  
</select>
           </div>
        <label for="cant" class="col-sm-1 control-label">CANTIDAD</label>
           <div class="col-sm-1">
               <input name="cantidad" class="form-control" id="cant" placeholder="Cantidad" type="number" min="1" step="1" value="1">
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
             <input name="agregar_item" class="btn btn-default" value="AGREGAR ITEM" type="submit">
        </div>
    </div>
</form>
<form class="form-horizontal" action="/for_sale/ventas/confirmar" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>ITEMS DE VENTA</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class="">Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                
          </thead>
       
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total $:</th>
                 <td>0</td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1">
           <input class="btn btn-default" value="Finalizar Venta" type="submit">
        </div>
     </div>
</form>

<pre>[]
</pre>

        
      </div>

      

    </div>
