{{extend 'layout.html'}}

<h1> <center><p class="text-primary">Arma tu pedido</p></center></h1>  
      

<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/afebril1.png" alt="Float, izquierda" width="200" height="200"  >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Afebril </h3>
         1 suspension
        <p>Precio: 145</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="right"><img src="/for_sale/static/anaflex.jpg " alt="Flot, center" width="200" height="200"  hspace="70">
      <div style="position: absolute; top: 200px; left: 130px;"
        <div class="caption">
        <h3>Anaflex</h3>
         10 Comp.
        <p>Precio: 44</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/bactisel.jpg" alt="Float, derecha" width="200" height="200"  hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Bacticel</h3>
          12 Comp.
          <p>Precio: 195</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div></div></div>&nbsp;
    </div>
    </div>
</div>
</div>
</div>

<br><br><br><br><br><br>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/cardiorex.jpg" alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Cardiorex </h3>
         30 Comp.
        <p>Precio: 588</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/cardiorexcdo.jpg" alt="Flot, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 130px;"
        <div class="caption">
        <h3>Cardiorex </h3>
        60 Comp.
        <p>Precio: 990</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/carvedild1.jpeg" alt="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">carvedil</h3>
          28 Comp.
          <p>Precio: 250</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>

<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/cefalex1.png" alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Cefalex </h3>
         10 Comp.
        <p>Precio: 78</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/cefalomicina.jpg" alt="Flot, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 100px;"
        <div class="caption">
        <h3>Cefalomicina </h3>
        1 Ampolla
        <p>Precio: 205</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/dioxaflex1.jpg" alt="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Dioxaflex</h3>
          5 ampollas
          <p>Precio: 652</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/glioten.jpg" alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Glioten </h3>
         120 Comp.
        <p>Precio: 569</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/GLIOTENZIDE1.png " alt="Flot, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Gliotenzide</h3>
        20 Comp.
        <p>Precio: 293</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/glucemix.jpg" al="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">glucemix</h3>
          28 Comp.
          <p>Precio: 600</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/incoril.jpg" alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Incoril </h3>
         30 Comp.
        <p>Precio: 99</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/novo.jpg" alt="Flot, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Klozidol</h3>
        10 ampollas
        <p>Precio: 212</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/lucidex1.jpg" al="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Lucidex</h3>
          30 Comp.
          <p>Precio: 654</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/Nastizol1.png" alt="Float, izquierda" width="200" height="200"   >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Nastizol </h3>
         20 Comp.
        <p>Precio: 99</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/neparvis.jpg" alt="Flot, center" width="200" height="200" hspace="70"  >
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Neparvis</h3>
        30 Comp.
        <p>Precio: 1937</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/neparvis.jpg" al="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Neparvis</h3>
           60 Comp.
          <p>Precio: 3870</p>
         
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/neparvis.jpg" alt="Float, izquierda" width="200" height="200"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Neparvis </h3>
         90 Comp.
        <p>Precio: 5500</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/nocte.jpg" alt="Flot, center" width="200" height="200" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Nocte</h3>
        30 Comp.
        <p>Precio: 245</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/noxibel1.jpg" al="Float, derecha" width="200" height="200" hspace="100" >&nbsp;
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Noxibel</h3>
          30 Comp.
          <p>Precio: 600</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br>
                       
                       
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/perfoma.jpg" alt="Float, izquierda" width="200" height="200"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Perfoma</h3>
         270 Comp.
        <p>Precio: 800</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/polumunol.jpg" alt="Flot, center" width="200" height="200" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Polimunol</h3>
        28 Ampollas
        <p>Precio: 5540</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/postiline.jpg" al="Float, derecha" width="200" height="200" hspace="100" >&nbsp;
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Postiline</h3>
          180 Comp.
          <p>Precio: 1000</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/presimax1.jpg" alt="Float, izquierda" width="200" height="200"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 150px;"
          <div class="caption">
        <h3>Presimax</h3>
         30 Comp.
        <p>Precio: 463</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/relaxedan.jpg" alt="Flot, center" width="200" height="200" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Relaxedan</h3>
        15 Comp.
        <p>Precio: 211</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/saikel.jpg" al="Float, derecha" width="200" height="200" hspace="100" >&nbsp;
       <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3 class="text-center">Saikel</h3>
          30 Comp.
          <p>Precio: 6189</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/saikel.jpg" alt="Float, izquierda" width="200" height="200"   >&nbsp;
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Saikel</h3>
         40 Comp.
        <p>Precio: 8000</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>&nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="center"><img src="/for_sale/static/tetrazol.jpg" alt="Flot, center" width="200" height="200" hspace="70" >&nbsp;
      <div style="position: absolute; top: 200px; left: 120px;"
        <div class="caption">
        <h3>Tetrazol</h3>
        120 Comp.
        <p>Precio: 2882</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> &nbsp;
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/tranquinal.jpeg " al="Float, derecha" width="200" height="200" hspace="100" >&nbsp;
       <div style="position: absolute; top: 200px; left: 150px;"
          <div class="caption"> 
          <h3>Tranquinal</h3> 
          50 Comp.
          <p>Precio: 339</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>&nbsp;
   
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>
