{{extend 'layout.html'}}

<h1> <center><p class="text-primary">Arma tu pedido</p></center></h1>  
      

            
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/lucidex.jpg" alt="Float, izquierda" width="200" height="200" hspace="100" >
    <div style="position: absolute; top: 200px; left: 160px;"
          <div class="caption">
        <h3>Lucidex</h3>
        <p>Precio: 150</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="right"><img src="/for_sale/static/nocte.jpg" alt="Flot, center" width="200" height="200" hspace="100" >
      <div style="position: absolute; top: 200px; left: 170px;"
        <div class="caption">
        <h3>Nocte</h3>
        <p>Precio: 130</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/incoril.jpg" alt="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 170px;" Incoril
          <div class="caption">
        <h3 class="text-center">Incoril</h3>
          <p>Precio: 140</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>
      </div>    </div>   </div> </div> </div> </div></div></div></div>
<br><br><br><br><br><br>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/lucidex.jpg" alt="Float, center" width="200" height="200" hspace="100" >
    <div style="position: absolute; top: 200px; left: 170px;"
          <div class="caption">
        <h3>Lucidex</h3>
        <p>Precio: 150</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="right"><img src="/for_sale/static/nocte.jpg" alt="Flot, center" width="200" height="200" hspace="100" >
      <div style="position: absolute; top: 200px; left: 170px;"
        <div class="caption">
        <h3>Nocte</h3>
        <p>Precio: 130</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/incoril.jpg" alt="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 170px;" Incoril
          <div class="caption">
        <h3 class="text-center">Incoril</h3>
          <p>Precio: 140</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>
   </div>    </div>   </div> </div> </div> </div></div></div></div>



<br><br><br><br><br><br>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

     <div align="center"><img src="/for_sale/static/lucidex.jpg" alt="Float, center" width="200" height="200" hspace="100" >
    <div style="position: absolute; top: 200px; left: 170px;"
          <div class="caption">
        <h3>Lucidex</h3>
        <p>Precio: 150</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div align="right"><img src="/for_sale/static/nocte.jpg" alt="Flot, center" width="200" height="200" hspace="100" >
      <div style="position: absolute; top: 200px; left: 170px;"
        <div class="caption">
        <h3>Nocte</h3>
        <p>Precio: 130</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p></div> 
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div align="center"><img src="/for_sale/static/incoril.jpg" alt="Float, derecha" width="200" height="200" hspace="100" >
       <div style="position: absolute; top: 200px; left: 170px;" Incoril
          <div class="caption">
        <h3 class="text-center">Incoril</h3>
          <p>Precio: 140</p>
        <p><a href="#" class="btn btn-primary" role="button">Agregar</a> </p> </div>
   </div>    </div>   </div> </div> </div> </div></div></div></div>
