{{extend 'layout.html'}}
<h1>Lista clientes</h1>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >          
              <form class="form-horizontal" id="formulario">
                     <br>
                     <div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Razón Social</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="Razón Social"  class="form-control"  >
                       </div>
                     </div>
    
  
    
<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Apellido</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="apellido" class="form-control">
                       </div>
                     </div>
              </form> 
           
                   <div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Nombre</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="nombre" class="form-control">
                       </div>
                     </div>
           
<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">D. N. I.</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="dni" class="form-control">
                       </div>
                     </div>
              </form> 

<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Provincia</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="localidad" class="form-control">
                       </div>
                     </div>

<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Localidad</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="localidad" class="form-control">
                       </div>
                     </div>
              </form> 

<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Dirección</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="apellidoPersona" class="form-control">
                       </div>
                     </div>
              </form> 

                    <div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Numeración</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="apellidoPersona" class="form-control" placeholder="1245" id="inputCA">
                       </div>
                     </div>
              </form>

                    <div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Código Postal </label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="codigopostal" class="form-control" placeholder="1245" id="inputCA">
                       </div>
                     </div>
              </form>
 

<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Teléfono</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="apellidoPersona" class="form-control">
                       </div>
                     </div>
              </form>     

<div class="form-group">
                       <label for="" class="control-label col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-1">Email</label>
                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                         <input type="text" name="apellidoPersona" class="form-control">
                       </div>
                     </div>
              </form>     
</div>


</div>

<center><button type="submit" class="btn btn-warning value=Enviar">Enviar</button></center>
<button type="submit" class="btn btn-warning value=Enviar">Finalizar</button>
