{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-4">
    Razón Social:
    </div>
    <div class="col-md-8">
        <input name=-"razonsocial"> 
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Nombre:
    </div>
    <div class="col-md-8">
        <input name=-"Nombre">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Apellido:
    </div>
    <div class="col-md-8">
         <input name=-"Apellido">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    D.N.I:
    </div>
    <div class="col-md-8">
        <input name=-"dni">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Dirección:
    </div>
    <div class="col-md-8">
        <input name=-"direccion">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Localidad:
    </div>
    <div class="col-md-8">
        <input name=-"localidad">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Provincia:
    </div>
    <div class="col-md-8">
        <input name=-"provincia">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Teléfono:
    </div>
    <div class="col-md-8">
        <input name=-"Telefono">
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
    Email:
    </div>
    <div class="col-md-8">
        
        <input name=-"Email">
        <label class="sr-only" for="email">Email address:</label>
    </div>
</div>
<br>
<button type="button" class="btn btn-warning">Finalizar</button>
<br><br>
<form	class="form-inline"	role="form">
		<div	class="form-group">
				<div	class="input-group">
						<label	class="sr-only"	for="exampleInputdire">direccion</label>&nbsp;&nbsp;&nbsp;&nbsp;
						<div	class="input-group-addon">direccion</div>
						<input	type="string"	class="form-control"	id="exampleInputEmail2"	placeholder="calle">&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
                        <label	class="sr-only"	for="exampleInputdire">direccion</label>
						<div	class="input-group-addon">Locaidad</div>
						<input	type="string"	class="form-control"	id="exampleInputEmail2"	placeholder="casanova">&nbsp;&nbsp;&nbsp;&nbsp;
    </div>	    
            <label	class="sr-only"	for="exampleInputdire">Provincia</label>
						<div	class="input-group-addon">Provincia</div>
						<input	type="string"	class="form-control"	id="exampleInputEmail2"	placeholder="Buenos Aires">
    </div>
<br><br>
<button type="button" class="btn btn-warning center-block">Finalizar</button> 
<div class="col-md-4 text-center"> <button id="singlebutton" name="singlebutton" class="btn btn-primary">Next Step!</button> </div>
